.login-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    cursor: pointer;
}